In [17]:
import pandas as pd

s1 = pd.Series([4, 65, 436, 3, 9])
s2 = pd.Series([7, 0, 3, 897, 9])

# Comparisons
print("Equal:\n", s1 == s2)
print("Greater than:\n", s1 > s2)
print("Less than:\n", s1 < s2)

Equal:
 0    False
1    False
2    False
3    False
4     True
dtype: bool
Greater than:
 0    False
1     True
2     True
3    False
4    False
dtype: bool
Less than:
 0     True
1    False
2    False
3     True
4    False
dtype: bool

In [18]:

s1 = pd.Series([2, 4, 6, 8, 14])
s2 = pd.Series([1, 3, 5, 7, 9])

# Operations
print("Addition:\n", s1 + s2)
print("Subtraction:\n", s1 - s2)
print("Multiplication:\n", s1 * s2)
print("Division:\n", s1 / s2)

Addition:
 0     3
1     7
2    11
3    15
4    23
dtype: int64
Subtraction:
 0    1
1    1
2    1
3    1
4    5
dtype: int64
Multiplication:
 0      2
1     12
2     30
3     56
4    126
dtype: int64
Division:
 0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.555556
dtype: float64

In [19]:


# Sample Dictionary
dictionary1 = {'Josh': 24, 'Sam': 36, 'Peace': 19, 'Charles': 65, 'Tom': 44}

# Convert to Series
series_from_dict = pd.Series(dictionary1)
print(series_from_dict)

Josh       24
Sam        36
Peace      19
Charles    65
Tom        44
dtype: int64

In [20]:


# Sample Series
sample_series = pd.Series(['Love', 800, 'Joy', 789.9, 'Peace', True])

# Convert to array
array = sample_series.to_numpy()
print(array)

['Love' 800 'Joy' 789.9 'Peace' True]

In [21]:
import pandas as pd
from io import StringIO

# Read the file safely
with open('AfricaCupOfNationsMatches.csv', 'r', encoding='utf-8', errors='replace') as f:
    data = f.read()

# Try using a flexible engine and skip malformed lines
df = pd.read_csv(StringIO(data), sep=',', engine='python', on_bad_lines='skip')

# Show first few rows to confirm structure
print(df.head())  # Optional for inspection

# Check if the column 'HomeTeamGoals' exists
if 'HomeTeamGoals' in df.columns:
    goals_series = df['HomeTeamGoals']

    # Handle non-numeric values gracefully (if needed)
    goals_series = pd.to_numeric(goals_series, errors='coerce')  # Convert to numbers
    goals_series = goals_series.dropna()  # Drop rows where conversion failed

    most_frequent = goals_series.mode()[0]

    new_series = goals_series.apply(lambda x: x if x == most_frequent else 'Other')
    print(new_series)
else:
    print("⚠️ Column 'HomeTeamGoals' not found in the CSV file.")

   Year      Date  Time    HomeTeam       AwayTeam  HomeTeamGoals  \
0  1957  10-Feb-57   NaN     Sudan           Egypt            1.0
1  1957  10-Feb-57   NaN  Ethiopia    South Africa            NaN
2  1957  16-Feb-57   NaN     Egypt        Ethiopia            4.0
3  1959  22-May-59   NaN      Egypt       Ethiopia            4.0
4  1959  25-May-59   NaN     Sudan        Ethiopia            1.0

   AwayTeamGoals             Stage  \
0            2.0        Semifinals
1            NaN        Semifinals
2            0.0             Final
3            0.0  Final Tournament
4            0.0  Final Tournament

                                SpecialWinConditions                Stadium  \
0                                                NaN      Municipal Stadium
1  Ethiopia  wins due to disqualification of othe...                    NaN
2                                                NaN      Municipal Stadium
3                                                NaN  Prince Farouk Stadium
4                                                NaN  Prince Farouk Stadium

        City  Attendance
0   Khartoum     30000.0
1        NaN         NaN
2   Khartoum     30000.0
3      Cairo     30000.0
4      Cairo     20000.0
0        1.0
2      Other
3      Other
4        1.0
5      Other
       ...
617    Other
618      1.0
619    Other
620    Other
621    Other
Name: HomeTeamGoals, Length: 618, dtype: object